html, body {
  height: 100%;
  margin: 10px;
  font-family: 'Montserrat';
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.navbar {
  text-align: right;
}

.childNav {
  display: inline-block;
  padding: 10px;
}

.childNav p {
  font-size: 13px;
  color: black;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}

.childNav p:hover {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  cursor: pointer;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 20px;
}

.box1 {
  background: lightcoral;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.box1 a:hover {
  -webkit-animation: bounce 1s;
}

.box2 {
  background: lightblue;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box3 {
  background: lightgreen;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box4 {
  background: lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box5 {
  background: lightyellow;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box6 {
  background: lightseagreen;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}