html,
body {
  height: 100%;
  margin: 10px;
  font-family: "Montserrat";
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.navbar {
  text-align: right;
}

.childNav {
  display: inline-block;
  padding: 10px;
}

.childNav p {
  font-size: 13px;
  color: black;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.childNav p:hover {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  cursor: pointer;
}

.dailyMessage {
  text-align: justify;
  font-size: 15px;
  background: lightgoldenrodyellow;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 20px;
}

.box1 {
  background: lightcoral;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.box2 {
  background: lightblue;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box3 {
  background: lightgreen;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box4 {
  background: lightpink;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box5 {
  background: lightyellow;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.box6 {
  background: lightseagreen;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.memories {
  text-align: center;
}

.pantunTitle {
  text-align: center;
}

.pantun1 {
  width: 100%;
  text-align: left;
}

.pantun2 {
  text-align: right;
  width: 100%;
}
